<div id="container">
  <div id="leftside">
    <div id="photo1"></div>
  </div>
    <div id="rightside">
    <h2>About Us</h2>
    <p>Live Up Programs provides long-weekend programs for adults with Down syndrome.
    
    <b>Pillars:</b>
    <br/>
Our programs will always include the following:
<br/>
<br/>
1. <b>We empower our participants to learn, grow and thrive.</b><br/>
We are a curriculum-based program, dedicated to helping
participants across three core focus areas:  life skill
development, healthy living and giving back.
<br/><br/>
2. <b>We are a place for adults that like to have fun.</b><br/>
We are a community for adults with Down syndrome made up of
brothers and sisters who come together to learn new things and have a blast!
<br/><br/>
3. <b>We are a close-knit, family of friends.</b><br/>
We are a small organization where everyone knows your name.
Our one-to-one weekend adventures are a short but include an immersive
experience.
<br/><br/>
4. <b>We are one team.</b><br/>
We are a group of collaborators that run on enthusiasm
and determination. We are always looking for new partners and
volunteers to join us.
<br/><br/>
5. <b>We create an unmistakable energy.</b><br/>
We are fiercely committed to creating an environment with an
unmistakable energy and an experience that’s greater than each
person’s hopes, ideas and dreams.
<br/>
    </p>
    </div>
</div>
