


<div id="home">
  <p>
    <br/>
    Live Up Programs provides long-weekend programs for adults with Down
    syndrome. We empower our participants to learn, grow and thrive while
    having fun in a close-knit, family of friends.<br/><br/>
  <%= image_tag('home.jpg', :size => "1200x800") %><br/>
    <a href="programs.html#philadelphia">Philadelphia </a> |
    <a href="programs.html#sandiego">San Diego </a>|
    <a href="programs.html#washingtondc">Washington D.C.</a><br/><br/>
  </p>
</div>

