

<div id="photo1">
</div>
<div id="home">
  <h2>
    Let's Live Up
  </h2>
  <p>


    Live Up Programs provides long-weekend programs for adults with Down
    syndrome. We empower our participants to learn, grow and thrive while
    having fun in a close-knit, family of friends.<br/><br/><br/></p>

  <p>
    <a href="programs.html#philadelphia">Philadelphia</a> |  <a href="programs.html#sandiego">San Diego</a> | <a href="programs.html#washingtondc">Washington D.C.</a>
  </p>
</div>

