<div id="container">
<h2>
  Mentors
</h2>

  <div id="photo3">
  </div>
<br/><br/>
<ul>
  <li><b>Requirements.</b> Mentors
Live Up Programs is open to adults from age 21–35. We are looking for volunteers to be paired one-to-one with a similarly aged participant.  Mentors do not need any prior experience working with people with Special Needs, but rather should be responsible, caring individuals ready for the time of their lives!  All mentors will be required to attend Mentor orientation the Thursday before the program begins.
</li><br/>

  <li><b>Specialists.</b> We are also looking for additional staff to perform the following roles:
    <ul><li>    - Videographer</li>
      <li>    - Photographer</li>
<li>    -Nurse</li></ul>
  </li><br/>
<li><b>Programming.</b>
We develop programs with the goal of participants and staff alike having a great time!  Sample programming activities include a healthy cooking class, acting workshop, volunteering in the community and having fun at a baseball game.</li><br/>
  
  <li><b>Application.</b>   The mentor application is now available. <a href="mentor_app.html">Apply now</a>.
  </li><br/>

</ul>

</div>