<div id="container">
<h2>
  Participants
</h2>

  <div id="photo2">
  </div>
<br/><br/>
<ul>
  <li><b>Requirements.</b> Live Up Programs is open to adults with Down syndrome
  from age 21–35. Each participant is paired one-to-one with a similarly
  aged mentor.  Both participants and mentors should be ready to thrive in
  an active residential environment and require minimal help with hygiene.</li><br/>

  <li><b>Programming.</b> Programming for both weekends will focus on building confidence
and life skills. Sample programming activities include a healthy cooking class, acting workshop that focuses on public speaking, volunteering in the community and having fun at a baseball game.
  </li><br/>
  <li><b>Application.</b>   The participant application is now available. <a href="participant_app.html">Apply now</a>. If you are interested in financial aid, please fill out the <a href="scholarship_app.html">Scholarship Funding Request Form</a>.
  </li><br/>

</ul>

</div>