<div id="container">
<h2>Partners</h2>
<div id="desctext">
<p>Live Up Programs would not be possible if it were not for the support
  from our community partners. A special thank you to the
  following organizations:<br/><br/></p>
</div>
<div id="cell">
<div id="activetraxlogo">

</div>
</div>
<div id="cell">
  <div id="artstreamlogo">
    
  </div>
</div>
<div id="cell">
<div id="bethesdabagelslogo">
</div>
</div>

<div id="cell">
  <div id="callevalogo"></div>
</div>


<div id="cell">
  <div id="cocofitnesslogo"></div>
</div>

<div id="cell">
  <div id="kkilogo"></div>
</div>

<div id="cell">
<div id="lazeezlogo">
</div>
</div>

<div id="cell">
  <div id="redwigglerlogo"></div>
</div>
<div id="cell">
<div id="shakespearelogo"></div>
</div>

<div id="cell">
  <div id="usilogo"></div>
</div>
<div id="cell"></div>
<div id="cell"></div>

<div id="desctext">
<p>In addition, Live Up Programs would not be possible without the support
  from the following companies who have been kind enough to
  provide donations:<br/><br/></p>
</div>
<div id="cell">
  <div id="chobanilogo"></div>
</div>
<div id="cell">
  <div id="flatoutlogo"></div>
</div>
<div id="cell">
  <div id="salbalogo"></div>
</div>
</div>

