<div id="container">
<h2 id="sandiego">San Diego</h2>
<hr></hr>
<br/>
<div id="leftside">
  <p>Join Live Up for our inaugural program in San Diego. Live
    Up San Diego will take place over Memorial Weekend 2013 from
     June 14th to June 27th (staff should plan to arrive on
     June 13th).<br/><br/> Camp directors are Lauren Dunnevant and
    Raj Bhandari. Keep checking here for updates on our program!<br/><br/>
    Raj has been a volunteer with programs like Live Up! for five
    years. He enjoys books, movies, and music.<br/><br/>

Lauren is new to Live Up but her sister, Ashley Dunnevant was born with
Down Syndrome. Lauren has been involved in the special needs
community for a number of years supporting her sister and her family.
Lauren has lived in San Diego for the past 2 years and loves
"America's Finest City". In her spare time, Lauren enjoys biking,
reading, volleyball, softball, and spending time with friends and family.<br/><br/>
  Live Up San Diego is dedicated in the honor of Lauren's sister Ashley Dunnevant.
</p>
</div>

<div id="rightside">
  <div id="sandiegophoto1">    
  </div>
    <div id="sandiegophoto2">
  </div>
  <div id="sandiegophoto3">   
  </div>
  <div id="sandiegophoto4">
</div>
</div>
<br/><br/>
    <h2 id="philadelphia">Philadelphia</h2>
<hr></hr>
<br/>
<div id="leftside">
<div id="phillyphoto2"></div>
</div>
<div id="rightside">
  <p>
    <br/><br/><br/>
  Join Live Up for our inaugural program in Philadelphia. <br/>
  Live Up Philadelphia will take place over Memorial Weekend 2013
  from Friday May 24th to Monday May 27th (staff should plan to arrive
  on Thursday May 23rd). Camp directors are Kerri Aidikoff & Rachael Durkin
  . Keep checking here for updates on our program!<br/><br/>

Both Kerri & Rachael currently live in New York City.
In there spare time they both enjoy going on adventure,
trying new restaurants and impromptu dance parties!
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  </p>
</div>



<h2 id="washingtondc">Washington D.C.</h2>
<hr></hr>
<br/>
<div id="leftside">
  <p>Join Live Up for the first time in Washington D.C.
    The Live Up weekend will take place on the Labor Day
    holiday from Friday August 30th to September 2nd
    (staff will be required to arrive Thursday, August 29th).
    The weekend will be filled with fun and enriching activities
    including a trip to Red Wiggler Farm, a night out at a Nationals
    baseball game and other adventures around our nation’s capital.
    Directors will be Rich DiGiambattista, Dan Rodini and Jamie Weiss.
    <br/><br/>
    Rich has been working with the down syndrome community for the
    past three years. He is currently a senior History Education major
    at West Chester University graduating in the Spring of 2013. He enjoys
    reading, writing and having fun with my friends and family. He looks
    forward to working with the fellow directors in creating a
    wonderful program for all involved.
<br/><br/>
Jamie has been a volunteer with programs like Live Up for the past year.
She currently lives in New York City and enjoys spending time outdoors,
spontaneous dance parties and baking delectable treats. She can't wait
for an awesome Live Up! experience in DC.
<br/><br/>
Dan has been a volunteer with programs like Live Up for four years.
In his free time, he likes to be around friends, hiking, drawing, and
trying new things.
<br/><br/>
  </p>
</div>
<div id="rightside">
   <div id="dcphoto1">
  </div>
    <div id="dcphoto2">
  </div>
  <div id="dcphoto3">
  </div>
  <div id="dcphoto4">
</div>
  

</div>


</div>


