/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#nav{
    width: 96%;
    float: left;
    list-style: none;
    border-bottom: 2px solid black;
    background-color: #2a75c0;
    list-style: none;
    box-shadow: 2px 2px 2px;
    margin-top: -20px;
    border-radius: 15 px;
    display: block;
    
    
}

#nav li{
    float: left;
    color: white;
    margin-left: 32px;
    margin-right: 28px;
    font-family: 'Stoke', serif;
    font-size: 18px;
    margin-top: .6cm;

    
}

#nav a{
    float: left;
    color: white;
    margin-left: 32px;
    margin-right: 28px;
    font-family: 'Stoke', serif;
    font-size: 18px;
    margin-top: .6cm;
}

#nav a:hover{
    float: right;
    color: grey;
    margin-left: 32px;
    margin-right: 28px;
    font-family: 'Stoke', serif;
    font-size: 18px;
    margin-top: .6cm;
}



#name{
    float: left;
    color: white;
    font-family: 'Stoke', serif;
    font-size: 22px;
    margin-left: 1cm;
    margin-top: .6cm;
    margin-bottom: .2cm;
}

